In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
cols = ['mpg', 'cylinders', 'displacement', 'horsepower', 'weight', 'acceleration', 'model year', 'origin']

data = pd.read_csv(r'D:\\Personal\\Projects\\Project 3 - ML Model\\Data\\auto-mpg.csv', na_values="?", comment='\t', sep=' '
                    , skipinitialspace=True, names=cols)

In [3]:
data.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,origin
0,18.0,8,307.0,130.0,3504.0,12.0,70,1
1,15.0,8,350.0,165.0,3693.0,11.5,70,1
2,18.0,8,318.0,150.0,3436.0,11.0,70,1
3,16.0,8,304.0,150.0,3433.0,12.0,70,1
4,17.0,8,302.0,140.0,3449.0,10.5,70,1

In [4]:
data.isnull().any()

mpg             False
cylinders       False
displacement    False
horsepower       True
weight          False
acceleration    False
model year      False
origin          False
dtype: bool

In [5]:
data.isnull().sum()

mpg             0
cylinders       0
displacement    0
horsepower      6
weight          0
acceleration    0
model year      0
origin          0
dtype: int64

In [6]:
data['horsepower'].mean()

104.46938775510205

In [7]:
data['horsepower'].median()

93.5

In [8]:
data['horsepower'] = data['horsepower'].fillna(data['horsepower'].median())
data.isnull().any()

mpg             False
cylinders       False
displacement    False
horsepower      False
weight          False
acceleration    False
model year      False
origin          False
dtype: bool

In [9]:
data.dtypes

mpg             float64
cylinders         int64
displacement    float64
horsepower      float64
weight          float64
acceleration    float64
model year        int64
origin            int64
dtype: object

In [10]:
data

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,origin
0,18.0,8,307.0,130.0,3504.0,12.0,70,1
1,15.0,8,350.0,165.0,3693.0,11.5,70,1
2,18.0,8,318.0,150.0,3436.0,11.0,70,1
3,16.0,8,304.0,150.0,3433.0,12.0,70,1
4,17.0,8,302.0,140.0,3449.0,10.5,70,1
...,...,...,...,...,...,...,...,...
393,27.0,4,140.0,86.0,2790.0,15.6,82,1
394,44.0,4,97.0,52.0,2130.0,24.6,82,2
395,32.0,4,135.0,84.0,2295.0,11.6,82,1
396,28.0,4,120.0,79.0,2625.0,18.6,82,1
397,31.0,4,119.0,82.0,2720.0,19.4,82,1

In [12]:
min_threshold, max_threshold = data.mpg.quantile([.001, 0.999])
min_threshold, max_threshold

(9.397, 45.80600000000013)

In [13]:
data[ data.mpg > max_threshold ]

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,origin
322,46.6,4,86.0,65.0,2110.0,17.9,80,3

In [14]:
data[ data.mpg < min_threshold ]

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,origin
28,9.0,8,304.0,193.0,4732.0,18.5,70,1

In [ ]:
data.boxplot()